PORT=5000
USER_SECRET=$V9*L

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=sfh
DB_DIALECT=mysql
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000

MAIL_HOST=mail.karpalabs.com
MAIL_PORT= 465
MAIL_SECURE=true
MAIL_SENDER=sfh@karpalabs.com
MAIL_USERNAME=sfh@karpalabs.com
MAIL_PASSWORD=

APP_BASEURL='http://localhost:3000'

GOOGLE_CLIENT_ID=